* {
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}
body {
    /* font-size: 62.5%; */
    background-color: #1F1E28;
    height: 110vh;
    width: 100%;
    color: #f5f5f5;
}

.container {
    /* background-color: #fff; */
    width: 100%;
    max-width: 480px;
    height: 80%;
    /* background-color: #205295; */
    background-color: #146C94;
    background-color: #3A98B9;

    border-radius: 18px;
    margin: 0 0.85rem ;
}
.user-head {
  padding: 0.25rem;
  border-bottom: 1px solid #146C94;
}
.ask-phrase {
    /* background-color: #; */
    margin: 1rem;
    font-size: inherit;
}
.user-head p {
    font-size: 2.3rem;
    color: #f5f5f5;
    font-weight: 600;
    text-align: center;
    padding: 0.2rem;    
}
input {
    height: 100%;
    width: 100%;
    background: #ECE8DD;
    padding: 10px 0;
    margin: 10px 0;
}
.input-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.input-box input {
    height: 100%;
    width: 88%;
    color: #333;
    border-radius: 6px;
    outline: none;
    font-size: 18px;
    font-weight: 500 ;
    border: 3px solid #a6a6a6;
}
.checkbox {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}
.checkbox input {
    width: 1.5rem;
    height: 1.5rem;
}
label {
    margin: 0.8rem 0;
}
button[type="submit"] {
    font-size: 1.2rem;
    outline: none;
    border: none;
    padding: 0.6rem;
    border-radius: 8px;
    background-color: #f8f8f8;
}
input:checked + label {
    color: #00fc00;
}